//ADMIN Backend

//login

.main-container {
  margin: 0 auto;
  padding: 6em 4em;
  text-align: center;
  max-width: 1500px;
  color: $cl-whitelabel-prime;

  .head {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    font-family: $CIFontBold;

    .logo {
      max-width: 120px;
    }
    .texthead {
      text-transform: uppercase;

      span {
        text-transform: lowercase;
      }
    }
    .language {
      //
    }
  }
  .main-container-inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .welcomemessage {
      font-size: 5.3em;
      font-family: $CIFontBold;
      line-height: 1;
      margin-top: 6rem;
    }

    .formcontainer {
      max-width: 550px;
      width: 100%;
      margin: 5em auto;
      text-align: center;
      position: relative;
      .form-group {
        margin-bottom: 30px;
      }

      input,
      textarea {
        background: transparent;
        border-radius: 80px;
        border: 3px solid $cl-whitelabel-prime;
        padding: 0.75em 2.5em;
        width: 100%;
        font-family: $CIFontBold;
        font-size: 2rem;
      }
      textarea {
        border-radius: 2rem;
        padding: 0.75em 2.5em;
        min-height: 200px;
      }
      input,
      input::placeholder,
      textarea,
      textarea::placeholder {
        text-align: center;
        color: $cl-whitelabel-prime;
        opacity: 1;
      }
      input:focus,
      textarea:focus {
        outline: none;
      }

      .uploadImageInput {
        border: 1.5px solid $primary-color;
        border-radius: 2.5rem;
        overflow: hidden;
        margin: 1.3rem auto;
        // Did it this way for dynamic translation to work instead of fixed variables, and for it to not go to the next line.
        table {
          width: 100%;
          tr {
            td {
              padding: 1rem 2rem;
              &.search-box-input-container {
                width: 100%;
                position: relative;
                padding-right: 0;
                .search-box-input {
                  border: none;
                  background-color: transparent;
                  width: calc(100% - 2.5rem);
                  color: $primary-color;
                  font-size: 1.2rem;
                  outline: none !important;
                }
              }
              &.search-box-button-container {
                padding-left: 2.5rem;
                width: auto;
                white-space: nowrap;
                background-color: $primary-color;
                .search-box-button {
                  color: $primary-text-dark;
                  font-family: $CIFontRegular;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
      .file-preview {
        display: none;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: auto;

        &.file-preview-displayed {
          display: flex;
        }
        .file-preview-image--outer {
          height: 150px;
          width: 150px;
          padding: 1rem;
          border-radius: 50%;
          overflow: hidden;
          background-color: $primary-color;
          display: inline-block;
          .file-preview-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .file-preview-image-name {
          color: $primary-color;
        }
        .file-preview-image-delete {
          color: $primary-text-light;
        }
      }

      .btn {
        padding: 0.7em 2.5em;
        width: 100%;
        font-family: $CIFontBold;
        font-size: 2rem;
        margin-bottom: 0;
        margin: auto;
        display: block;
        text-align: center;
        cursor: pointer;

        &.btn-primary {
          background: $cl-whitelabel-prime;
        }
      }
      a {
        &.btn {
          color: $primary-text-dark;
        }
      }
      .forgotpassword {
        font-size: 1.33rem;
        margin-top: 5.5em;
        a {
          color: $cl-whitelabel-prime;
          text-decoration: none;
          :visited {
            color: $cl-whitelabel-prime;
            text-decoration: none;
          }
        }
      }
    }
  }
  .support-text-block {
    font-size: 1.5rem;
    max-width: 750px;
    margin: 4rem auto;
  }
  .support-back-button {
    padding: 0.7em 2.5em;
    font-size: 2rem;
    margin-bottom: 0;
    margin: auto;
    max-width: 550px;
  }
  .invalid-feedback {
    margin: 1em 0;
  }
}

.kwickiq-buttons {
  .btn-small--link {
    margin: 0.5rem;
    font-size: 1rem;
  }
}

.admin-page {
  .page-nav-container {
    position: relative;
    > .page-nav {
      z-index: 11;
    }
    .client-add-button {
      border-radius: 2rem;
      font-size: 0.9rem;
      color: $primary-color;
      border: 2px solid $primary-color;
      padding: 0.4rem 1.4rem;
      text-decoration: none;
      font-family: $CIFontBold;
    }
    .current-user-options-trigger {
      font-size: 0.9rem;
      margin: 0 2rem;
      line-height: 2.3rem;
      .material-icons {
        vertical-align: middle;
      }
    }
  }
  // }
}
.admin-start-page {
  @include page-container-height($admin-header-height);
  .logo {
    max-width: 80px;
    margin: 0 auto;
  }
  .admin-start-page-title {
    span {
      display: block;
    }
  }
  .admin-start-page-info-view {
    .admin-start-page-info-view-item {
      padding: 2rem;

      .general-page-subtitle {
        max-width: 180px;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .main-container {
    padding: 2em 4em;
    .main-container-inner {
      .welcomemessage {
        font-size: 4.1em;
      }
      .formcontainer {
        max-width: 450px;
        input,
        textarea {
          font-size: 1.5rem;
          &:focus {
            position: absolute;
            top: -200px;
            right: auto;
            left: 0;
            background: $primary-color;
            color: $primary-text-dark;
          }
        }
        .btn {
          font-size: 1.5rem;
        }
        .forgotpassword {
          margin-top: 2.5em;
        }
      }
    }
  }
}
