.client-add-page {
  .form-section {
    .form-section-title {
      position: absolute;
      top: 0;
      font-size: 0.7rem;
      &-client-details {
        @extend .form-section-title;
        left: -2.5rem;
        transform: rotate(-90deg) translateX(-32px);
      }
      &-economy {
        @extend .form-section-title;
        left: -29px;
        transform: rotate(-90deg) translateX(-20px);
      }
      &-contact {
        @extend .form-section-title;
        left: -25px;
        transform: rotate(-90deg) translateX(-16px);
      }
      &-users {
        @extend .form-section-title;
        left: -16px;
        transform: rotate(-90deg) translateX(-10px);
      }
      &-theming {
        @extend .form-section-title;
        left: -23px;
        transform: rotate(-90deg) translateX(-17px);
      }
      &-big-screen {
        @extend .form-section-title;
        left: -29px;
        transform: rotate(-90deg) translateX(-23px);
      }
      &.title-terminal{
        left:-46px;
        width: 100px;
        transform: rotate(-90deg) translateX(-42px);
        text-align: right;
      }
    }
  }
}
