.general-list-page {
  @include page-container-height($admin-header-height + $tabbed-header-height);
  section.row {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .filter-mat-radio-group {
    mat-radio-button.mat-radio-button {
      margin: 0 3rem;
      .mat-radio-label-content {
        padding-left: 1.8rem;
        font-size: 1.5rem;
        margin-top: -0.2rem;
      }
    }
  }

  .action-button {
    border: 1.2px solid $primary-color;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: $primary-color;
    background-color: transparent;
    outline: none !important;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &-filled-in {
      @extend .action-button;
      color: $primary-text-dark;
      background-color: $primary-color;
    }
  }

  .status-indicator {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin: 0.5rem;
    display: inline-block;
    vertical-align: bottom;
    &.status-indicator-active {
      background-color: $status-indicator-active-color;
    }
    &.status-indicator-inactive {
      background-color: $status-indicator-inactive-color;
    }
  }

  .expansion-icon {
    font-size: 35px;
    line-height: 0;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.5s ease;

    &-opened {
      transform: rotate(180deg);
    }
  }
  .expansion-panel-td {
    border: none;
    padding: 0;
    .mat-expansion-panel {
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      border: none;
      margin: 0;
      color: $primary-color;
      .mat-expansion-panel-body {
        background-color: transparent;
        padding: 15px 0;
        box-shadow: none;
        border: none;
        margin: 0;
        color: $primary-color;
        font-size: 1.2rem;

        .details-separator {
          border: 0;
          height: 1px;
          border-top: 1px solid $primary-color;
        }

        .campaign-list-period {
          border-radius: 6px;
          padding: 5px 10px;
          display: inline-block;
          vertical-align: middle;
          background-color: rgba(255, 255, 255, 0.1);
          margin: 0 1rem 0 0;
        }

        .campaign-detail {
          margin: 0.6rem 0;
        }
      }
    }
  }
}
