.user,
.campaign,
.client {
  &-list-page,
  &-add-page,
  &-edit-page,
  &-home {
    @include page-container-height(
      $admin-header-height + $tabbed-header-height
    );
  }
}

.support-page {
  @include page-container-height($admin-header-height);
}
