.public-queue-container {
  .number-text {
    color: $number-text-color;
  }
  .number-text-ticket {
    color: $number-text-color-ticket;
  }
  &.queue_container {
    max-width: 820px;

    .queue_container_inner {
      width: 100%;
      margin: auto;
      .queue_header {
        margin-bottom: 110px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &.queue_container {
      max-width: 70%;

      .queue_container_inner {
        width: 100%;

        .queue_header {
          margin-bottom: 12%;
        }
      }
    }
  }
}
