.queue_number_container {
  background-image: url($queue-number-background-image);
  @include public_screen_backgrounds();
}
.queue_number {
  max-width: 60%;

  .number-text {
    color: $number-text-color;
  }
  .number-text-ticket {
    color: $number-text-color-ticket;
  }
  &.number_container {
    .number_container_inner {
      margin: auto;
      width: 100%;

      .number_header {
        .number_title {
          margin-bottom: 1em;
        }
      }
      .number_content {
        position: relative;

        .number_calendar_info {
          padding: 2em 4em;
          background-color: $cl-whitelabel-prime;

          .calendar_title {
            text-transform: uppercase;
            // margin-bottom: -1em;
          }
          .calendar_category {
            margin-top: -1em;
          }
        }
        .number_calendar_graphic {
          position: relative;
          &.number_calendar_graphic_top {
            bottom: -10px;
          }
          &.number_calendar_graphic_bottom {
            top: -1px;
          }
          svg {
            path {
              fill: $cl-whitelabel-prime;
            }
            g {
              stroke-width: 0;
              stroke: $cl-whitelabel-prime;
            }
          }
        }
      }
      .number_sub_content {
        margin-top: 1.5em;
        color: $number-text-color;
      }
      .feedback_section {
        display: block;
        min-height: 160px;
        align-items: center;
        color: $number-text-color;

        svg {
          path {
            stroke: $cl-whitelabel-prime;
          }
        }
        .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12 {
          svg {
            max-width: 33%;
            margin: 0 auto;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &.number_container {
      .number_container_inner {
        .number_header {
          span {
            &.bubble {
              color:$number-text-color-ticket;
              padding: 0.3em 0;
              width: 30%;
              margin-top: 0.3rem;
            }
          }
        }
        .number_content {
          position: relative;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .logo-area {
      width: 8rem * 0.5;
      height: 3rem * 0.5;
    }
  }
  @media screen and (max-width: 768px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 6em 0 5em 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 620px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 2.5em 0;
          }
          .number_calendar_graphic {
            &.number_calendar_graphic_bottom {
              top: -12px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 416px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 1.5em 0;
          }
        }
      }
    }
  }

  .submit-feedback-btn {
    padding: 0.8rem 3rem;
  }
  app-ratings-dislike,
  app-ratings-like,
  app-ratings-love {
    svg {
      width: 100%;
    }
  }
}
