.queue-counter-page {
  user-select: none;
  .queue-list-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
    flex-wrap: wrap;

    .current-user-login-information {
      width: 100%;
      font-size: 1.1rem;
      margin: 3rem auto;
    }

    .queue-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: top;
      flex-wrap: wrap;
      overflow: visible;
      margin: auto;
      .queue {
        position: relative;
        padding: 70px 40px;
        .queue-total {
          height: 4rem;
          width: 4rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          color: $primary-text-dark;
          background-color: $primary-color;
          border-radius: 50%;
          top: -1rem;
          right: -1rem;
          vertical-align: text-top;
          transform: translateY(-1.5rem) translateX(-1rem);
          svg {
            display: block;
            width: 1.875rem;
            height: 0.9375rem;
            position: absolute;
            bottom: -0.5rem;
            margin: 0 auto;
            path {
              fill: $primary-color;
            }
          }
        }

        .queue-current-position {
          font-size: 6rem;
          font-family: $CIFontBold;
          transform: translateX(3rem);
        }
        .queue-name {
          font-family: $CIFontBold;
          font-size: 2.8rem;
          font-weight: bold;
        }
        .queue-next-button {
          font-size: 2.5rem;
          padding: 0.5rem 4rem;
        }
        .queue-previous-button {
          font-size: 1.2rem;
          font-family: $CIFontBold;
          font-weight: bold;
        }
      }
    }

    .kvickiq-badging {
      width: 100%;
      font-size: 1.8rem;
      font-family: $CIFontBold;
      text-align: center;
    }

    .kwickiq-buttons {
      width: 100%;
      margin-top: -2.5rem;
      @media screen and (max-width: 576px) {
        margin-top: 0;
      }
      .btn-small--link {
        margin: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .queue-counter-page {
    .queue-list-counter {
      .current-user-login-information {
        font-size: 1.1rem * 0.75;
        margin: 3rem * 0.75 auto;
      }
      .queue-list {
        .queue {
          padding: 70px * 0.75 45px * 0.75;
          .queue-total {
            height: 4rem * 0.75;
            width: 4rem * 0.75;
            font-size: 2rem * 0.75;
            top: -1rem * 0.75;
            right: -1rem * 0.75;
            transform: translateY(-1.5rem * 0.75) translateX(-1rem * 0.75);
            svg {
              width: 1.875rem * 0.75;
              height: 0.9375rem * 0.75;
              bottom: -0.5rem * 0.75;
            }
          }
          .queue-current-position {
            font-size: 6.5rem * 0.75;
            transform: translateX(3rem * 0.75);
          }
          .queue-name {
            font-size: 2.8rem * 0.75;
          }
          .queue-next-button {
            font-size: 2.5rem * 0.75;
            padding: 0.5rem * 0.75 4rem * 0.75;
          }
          .queue-previous-button {
            font-size: 1.2rem * 0.75;
          }
        }
      }
      .kvickiq-badging {
        font-size: 1.8rem * 0.75;
      }
      .kwickiq-buttons {
        margin-top: -2.5rem * 0.75;
        .btn-small--link {
          margin: 0.5rem * 0.75;
          font-size: 1rem * 0.75;
        }
      }
    }
  }
}
