// screen-number and screenhandling
.screen_number_container {
  background-image: url($big-screen-background-image);
  @include public_screen_backgrounds();
}
.screen_number {
  &.number_container {
    padding-bottom: 12em;
    .number_container_inner {
      width: 100%;
      .number_header {
        .number_title {
          font-size: 4.1em;
          margin-bottom: 1em;
        }
      }
      .number_content {
        position: relative;
        font-size: 1rem;
        .number_calendar_info {
          padding: 2em 4em;
          width:100%;
          background-color: $cl-whitelabel-prime;
          .calendar_title {
            text-transform: uppercase;
            margin-bottom: -1em;
            font-size: 2.8em;
          }
          .calendar_number {
            &.font_400 {
              font-size: 25em;
            }
          }
          .calendar_category {
            margin-top: -1em;
            &.font_45 {
              // font-size: 2.56em;
              font-size: 4.4em;
            }
          }
        }
        .number_calendar_graphic {
          position: relative;
          &.number_calendar_graphic_top {
            bottom: -10px;
          }
          &.number_calendar_graphic_bottom {
            top: -1px;
          }
          svg {
            path {
              fill: $cl-whitelabel-prime;
            }
          }
        }
        .logo-area {
          // width: 10em;
          // height: 3.75em;
          // margin: 5.5em auto 0em auto;
        }
        &.col_12 {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0 0.75em;
          .screen_grid_container {
            max-width: 28rem;
            margin: 0 auto;
          }
        }
        &.col_6 {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 0.75em;
          .screen_grid_container {
            max-width: 28rem;
            margin: 0 auto;
          }
        }
      }
      .number_sub_content {
        font-size: 4.1em;
        margin-top: 1.5em;
        color: $number-text-color;
      }
      &.number_container_inner_small {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .number_header,
        .number_sub_content {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
        }
        .number_content {
          font-size: 0.55rem;
        }
        .number_header {
          // margin-bottom: 0.5em;
        }
        .number_sub_content {
          // margin-top: 0.25em;
        }
        // .number_content {
        //   padding: 0.1em 0.5em;
        //   .number_calendar_info {
        //     padding: 1em;
        //   }
        // }
        /** = 2 **/
        .only_2cards {
          // -ms-flex: 0 0 100%;
          // flex: 0 0 100%;
          // max-width: 51%;
          max-width: 29rem;
          margin: 0 auto;
          width: 100%;
        }
        /** >= 3 **/
        .number_content_multiple_cards {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        // .number_content_4cards {
        //   -ms-flex: 0 0 25%;
        //   flex: 0 0 25%;
        //   max-width: 25%;
        // }
        .font_400 {
          font-size: 12em;
        }
        .font_45 {
          font-size: 1.6em;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &.number_container {
      .number_container_inner {
        .number_header {
          span {
            &.bubble {
              padding: 0.25em 0;
              width: 30%;
            }
          }
        }
        .number_content {
          position: relative;
        }
      }
    }
  }
  @media screen and (max-width: 1080px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 1em 4em;
          }
        }
        &.number_container_inner_small {
          .number_content {
            &.col_12 {
              .number_calendar_info {
                padding: 3em 4em;
              }
            }
            &.col_6 {
              .number_calendar_info {
                padding: 1em 4em;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    &.number_container {
      .number_container_inner {
        &.number_container_inner_small {
          .number_content {
            font-size: 0.9rem;
            &.col_12 {
              font-size: 0.5rem;
            }
            &.col_6 {
              font-size: 0.45rem;
            }
          }
        }
      }
    }
    .logo-area {
      width: 8rem * 0.5;
      height: 3rem * 0.5;
    }
  }
  @media screen and (max-width: 768px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 1em 2em;
          }
        }
        &.number_container_inner_small {
          .number_content {
            &.col_12 {
              font-size: 0.45rem;
            }
            &.col_6 {
              font-size: 0.4rem;
              .number_calendar_info {
                padding: 1em 2em;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 620px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 2.5em 0;
          }
          .number_calendar_graphic {
            &.number_calendar_graphic_bottom {
              top: -12px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 416px) {
    &.number_container {
      .number_container_inner {
        .number_content {
          .number_calendar_info {
            padding: 2em 0;
          }
        }
      }
    }
  }
}
