.station_qr_container {
  background-image: url($qr-background-image);
  @include public_screen_backgrounds();
}

.qr_container {
  .qr_container_inner {
    user-select: none;
    width: 100%;
    font-size: 60%;

    .qr_code {
      margin-bottom: 118px;
      .qrcode {
        background-color: $primary-color;
      }
    }
  }
  .qr_content {
    margin-bottom: 2em;

    p {
      line-height: 1;
    }
    .station_title {
      font-size: 3.8rem;
      margin-bottom: 0.5em;
    }
    .station_description {
      font-size: 2.5rem;
    }
  }

  .ticket-queue-choise {
    margin-top: 5rem;
    font-size: 1rem;

    .col-4 {
      margin: 0 auto;
    }
    &.multiple-choise {
      font-size: 8px;
    }
    .print-option-container {
      position: relative;
      height: 100%;
      &.one {
        margin: 2.5rem auto 0 auto;
      }
    }
    .ticket-queue-title {
      font-size: 3.8rem;
      line-height: 1.15;
      padding-bottom: 0.3em;
    }
    .ticket-printer-button {
      font-size: 2em;
      padding: 1.75em 0.75em;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0;
      &:focus {
        background: $primary-color;
        color: $primary-text-dark;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .qr_container {
    .qr_container_inner {
      width: 100%;
      .qr_code {
        margin-bottom: 6em;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .qr_container {
    .qr_content {
      .station_title {
        font-size: 3rem;
      }
      .station_description {
        font-size: 2.25rem;
      }
    }
    .ticket-queue-choise {

      .ticket-queue-title {
        font-size: 3rem;
      }
      .ticket-printer-button {
        font-size: 1.8em;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .qr_container {
    .qr_container_inner {
      .qr_code {
        margin-bottom: 3.5em;
      }
    }
    .qr_content {
      .station_title {
        font-size: 2.2rem;
      }
      .station_description {
        font-size: 1.75rem;
      }
    }
    .ticket-queue-choise {
      margin-top: 3.5rem;
      .ticket-queue-title {
        font-size: 2.2rem;
      }
      .ticket-printer-button {
        font-size: 1.5em;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .qr_container {
    .ticket-queue-choise {
      .ticket-printer-button {
        padding: 0.5rem 0.75rem;
      }
    }
  }
}
