.statistics-page {
@include page-container-height($admin-header-height);

  .statistics-chart-row {
    .statistics-chart-container {
      width: 80%;
      margin: auto;

      .statistics-chart {
        position: relative;
        min-height: 400px;
        cursor: pointer;
        .arrow-container {
          position: absolute;
          left: -6%;
          top: 0;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .arrow-line-top--left,
          .arrow-line-top--right {
            position: absolute;
            top: 0;
            left: 50%;
            background-color: $primary-color;
            width: 3px;
            height: 20px;
            z-index: 2;
          }
          .arrow-line-top--left {
            transform: rotate(45deg) translateX(-9px) translateY(3px);
          }
          .arrow-line-top--right {
            transform: rotate(-45deg) translateX(6px) translateY(0px);
          }
          .arrow-line {
            width: 3px;
            height: 100%;
            background-color: $primary-color;
            position: relative;
            z-index: 1;
          }

          .arrow-label {
            position: absolute;
            bottom: -2.85rem;
          }
        }

        .chartBubbleContainer {
          cursor: pointer;
          text-align: center;
          .chart-count {
            font-size: 2.5rem;
            font-weight: bold;
          }
          .chart-time {
            font-size: 0.4rem;
          }
        }

        > canvas {
          border-radius: 1rem;
        }
      }
      .statistics-chart-labels {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    .statistics-chart-cutomers {
      // display: flex;
      // align-items: flex-end;
      font-size: 1.2rem;
    }
    .statistics-chart-date-container {
      // display: flex;
      // align-items: flex-end;
      .statistics-chart-date {
        .statistics-chart-date-date {
          font-size: 35px;
        }
        .statistics-chart-date-day {
          text-transform: uppercase;
          font-family: $CIFontBold;
          font-weight: 600;
        }
      }
    }
    .statistics-chart-options--change-type {
      font-size: 1.2rem;
      margin: 1.5rem auto;
      .statistics-chart-options--change-type--title {
        padding: 4px;
        font-family: $CIFontBold;
        font-weight: 600;
      }
    }
  }

  .statistics-page-filters {
    .filter-make-selection {
      font-size: 2rem;
    }
    .statistics-filter-values {
      margin: 1rem auto;
      width: 100%;
      li {
        list-style-type: none;
        line-height: 2.5rem;
        border-radius: 1.5rem;
        padding: 0 0.6rem 0 1rem;
        transition: background-color 0.5s ease;
        margin: 2.5rem 1rem;
        font-size: 1.2rem;
        .statistic-filter-value-display {
          width: calc(100% - 40px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: middle;
        }
        .option-remove-icon {
          margin: 0 0 0 1rem;
          cursor: pointer;
          vertical-align: middle;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .statistics-page-scans {
    .statistics-page-scan {
      .statistics-page-scan-title {
        text-transform: uppercase;
        font-family: $CIFontBold;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 2rem;
        letter-spacing: 3px;
      }
      .statistics-page-scan-count {
        font-size: 100px;
        font-family: $CIFontBold;
        font-weight: 600;
      }
      .statistics-page-scans-sub {
        font-size: 1.2rem;
        font-family: $CIFontBold;
        font-weight: 600;
        width: 50%;
        margin: 0.5rem auto;
      }
      .statistics-page-scans-date {
        font-size: 1.2rem;
        width: 50%;
        margin: 0.5rem auto;
      }
    }
  }

  .statistics-page-scan-type {
    .statistics-page-scan {
      .statistics-page-scan-title {
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 2rem;
        letter-spacing: 3px;
      }
      .statistics-page-scan-count {
        font-size: 100px;
        font-family: $CIFontBold;
        font-weight: 600;
      }
      .small-text{
        font-size: 80px;
      }
      .statistics-page-scans-sub {
        font-size: 1.2rem;
        font-family: $CIFontBold;
        font-weight: 600;
        width: 50%;
        margin: 0.5rem auto;
      }
      .statistics-page-scans-date {
        font-size: 1.2rem;
        width: 50%;
        margin: 0.5rem auto;
      }
    }
  }

  .statistics-feedback-container {
    app-ratings-dislike,
    app-ratings-like,
    app-ratings-love {
      svg {
        height: 140px;
        width: 140px;
      }
    }
    .customer-feedback-count {
      font-size: 1.2rem;
      font-family: $CIFontBold;
      font-weight: 600;
      text-align: center;
    }
  }
}
