.terminal-add-page {
  section {
    &.row {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
  .form-section {
    .form-section-title {
      position: absolute;
      top: 0;
      font-size: 0.7rem;
      &-terminal-owner {
        @extend .form-section-title;
        left: -3rem;
        transform: rotate(-90deg) translateX(-37px);
      }
      &-terminal-location {
        @extend .form-section-title;
        left: -54px;
        transform: rotate(-90deg) translateX(-45px);
      }
      &-terminal-setup {
        @extend .form-section-title;
        left: -31px;
        transform: rotate(-90deg) translateX(-22px);
      }
      &-terminal-settings {
        @extend .form-section-title;
        left: -26px;
        transform: rotate(-90deg) translateX(-18px);
      }
      &-terminal-branding {
        @extend .form-section-title;
        left: -26px;
        transform: rotate(-90deg) translateX(-19px);
      }
      &-terminal-add-user {
        @extend .form-section-title;
        left: -23px;
        transform: rotate(-90deg) translateX(-17px);
      }
      &.title-terminal{
        left:-46px;
        width: 100px;
        transform: rotate(-90deg) translateX(-42px);
        text-align: right;
      }
    }
  }
  .terminal-add-form-section {
    &-hw-setup {
      .form-page-form {
        border: none;
        > .row {
          margin: 0 -1rem;
          > [class*='col-'] {
            margin: 0 1rem;
            flex: 0 0 calc(33.33% - 2rem);
            @media screen and (max-width: 576px) {
              flex: unset;
            }
          }
        }
      }
    }
  }
}
