.user-add-page {
  .user-form-list {
    margin: 8rem 0;
    .user-form-section {
      margin: 0;
      .form-section-title-user-remove {
        position: absolute;
        transform: rotate(-90deg);
        left: -59px;
        top: 46px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .user-add-button-container {
    height: 67.38px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .user-add-test {
      font-size: 0.8rem;
      padding-right: calc(67.38px);
    }
  }
}
