.campaign-form {
  .campaign-form-bottom-buttons {
    display: flex;
    width: 316px;
    flex-direction: column;
    margin: auto;
    .btn,
    [class*='btn-primary-form'] {
      padding: 1rem 3rem;
      width: 100%;
    }
  }

  .url-link-icon-input-container {
    position: relative;
    .url-link-icon {
      position: absolute;
      top: 50%;
      right: calc(10% + 4rem);
      transform: translateY(-50%);
      text-transform: none;
      color: $primary-color;
      line-height: 0;
    }
    input:focus + .url-link-icon {
      color: $primary-text-light;
    }
  }

  .form-page--bordered {
    height: auto;
    overflow: visible;
  }

  .radio-button-container {
    max-width: 750px;
    margin: auto;
  }
}
