.form-page {
  &--bordered {
    @media screen and (max-width: $admin-header-breakpoint-lg) {
      height: calc(
        100vh - (#{$admin-header-height} + #{$tabbed-header-height} + 54px)
      );
    }
    height: calc(100vh - (#{$admin-header-height} + #{$tabbed-header-height}));
    overflow: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    $box-height: 86.38px;

    h1.form-page-title {
      margin: 2rem 0;
      font-size: 6.25rem;
    }

    .form-page-subtitle {
      font-size: 1.5rem;
      max-width: 750px;
      margin: 0 auto;
    }

    .form-page-tabs {
      font-family: $CIFontBold;
      li {
        list-style-type: none;
        display: inline-block;
        transition: background-color 0.5s ease, color 0.5s ease;
        padding: 0.5rem 2rem;
        border-radius: 1.5rem;
        margin: 0.5rem;
        cursor: pointer;
        &.active {
          background-color: $primary-color;
          color: $primary-text-dark;
          margin: 0.5rem;
        }
        &:hover {
          background-color: $primary-color;
          color: $primary-text-dark;
        }
      }
    }

    .sticky-header {
      margin: 0 !important;
      background-color: #29101f;
      z-index: 9;
      padding: 0.85rem 1rem;

      @media screen and (max-width: $admin-header-breakpoint-lg) {
        top: (1.68 * $admin-header-height) + $tabbed-header-height;
      }

      top: $admin-header-height + $tabbed-header-height;

      .form-page-tabs {
        margin: 0 !important;
        li {
          font-size: 0.875rem;
        }
      }
    }

    .form-section {
      margin: 3rem 0 6rem 0;
      position: relative;

      .form-page-form {
        border: 0.5px $primary-color solid;
        box-sizing: border-box;
        position: relative;
        .row {
          margin: 0px;
          [class*='col-'] {
            border: 0.5px $primary-color solid;
            box-sizing: border-box;
            &.form-page-form-input-field {
              min-height: $box-height;
              padding: 1rem;
              position: relative;
              font-size: 2.1rem;
              display: flex;

              &.col-s12.col-md-3.col-lg-3,
              &.col-s12.col-md-4.col-lg-4 {
                .form-page-form-label {
                  min-width: 5rem;
                }
                .form-page-form-input {
                  padding-left: 0;
                }
              }

              .form-page-form-label {
                font-size: 1.1rem;
                min-width: 7rem;
                display: inline;
                float: left;
                &.form-page-form-label--invalid {
                  color: red;
                }
                &.email-invalid {
                  color: red;
                }
              }
              .form-page-form-input {
                background-color: transparent;
                color: $primary-color;
                font-family: $CIFontBold;
                font-size: 2.1rem;
                // margin: 0.2rem;
                width: 100%;
                border: none;
                outline: none !important;
                text-align: left;
                padding-left: 1rem;
                &.light-text {
                  color: lighten($primary-text-light, 20%);
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                /* Firefox */
                &[type='number'] {
                  -moz-appearance: textfield;
                }
              }

              .form-page-slider {
                width: 100%;
                .mat-slider-thumb {
                  background-color: $primary-color;
                  transform: scale(0);
                }
                &.mat-slider-min-value.mat-slider-thumb-label-showing
                  .mat-slider-thumb-label {
                  background-color: lighten($primary-text-dark, 30%) !important;
                }
                .mat-slider-thumb-label {
                  // background-color: lighten($primary-text-dark, 30%);
                  transform: rotate(45deg) !important;
                  border-radius: 50% 50% 0 !important;
                  &-text {
                    opacity: 1 !important;
                  }
                }
                .mat-slider-track-wrapper {
                  background-color: $primary-color;
                  .mat-slider-track-fill {
                    // background-color: lighten($primary-text-dark, 30%);
                  }
                }
              }
            }

            &.form-page-form-dropdown {
              @extend .form-page-form-input-field;
            }
            .field-beside-controls {
              &-1 {
                width: calc(100% - 67.38px);
                display: flex;
              }
              &-2 {
                width: calc(100% - 150px);
                display: flex;
              }
            }
            .field-control-container {
              // float: right;
              // margin: -1.6rem -0.5rem -0.5rem 0;
              position: absolute;
              top: 0;
              right: 0;
              .field-control {
                @extend .control-box;
                margin-top: -1px;
                margin-right: -1px;
                .form-page-form-input {
                  font-size: 2rem;
                  font-family: $CIFontRegular;
                  padding: 0;
                  color: $primary-color;
                }

                &--filled-in {
                  @extend .field-control;
                  background-color: $primary-color;
                  color: $primary-text-dark;
                }

                .autocomplete-toggle-icon {
                  transition: transform 0.5s ease !important;
                  &--open {
                    @extend .autocomplete-toggle-icon;
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
        .form-section-title-remove {
          position: absolute;
          transform: rotate(-90deg);
          left: -63px;
          bottom: 35px;
          cursor: pointer;
          font-size: 0.75rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .section-add-button {
        background-color: $primary-color;
        color: $primary-text-dark;
        @extend .control-box;
        float: right;
        margin-bottom: -20px;
      }
      &.store-section {
        .form-page-form {
          margin-bottom: 2rem;
        }
        .section-add-button {
          margin-top: -2rem;
        }
      }
    }

    .control-box {
      height: $box-height;
      width: $box-height;
      display: inline-flex;
      border: 1px solid $primary-color;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .material-icons {
        font-size: 3.5rem;
        transition: visibility 0.5s ease;
      }
    }

    .inactivate-client-button {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    .two-buttons-in-one-line {
      position: relative;

      button.inactivate-client-button {
        position: absolute;
        right: 1rem;
      }
    }
  }

  &--full-width--rounded {
    ::placeholder {
      /* Most modern browsers support this now. */
      color: $primary-color;
    }

    input.form-page--rounded-input {
      border: 1.5px solid $primary-color;
      padding: 1rem 2rem;
      margin: 1.3rem auto;
      transition: background-color 0.5s ease, color 0.5s ease;
      background-color: transparent;
      color: $primary-color;
      font-family: $CIFontRegular;
      font-size: 1.2rem;
      outline: none !important;
      text-align: left;
      width: 80%;
      border-radius: 2.5rem;
      &:focus {
        color: $primary-text-dark;
        background-color: $primary-color;
      }
    }

    .uploadImageInput {
      width: 80%;
      border: 1.5px solid $primary-color;
      border-radius: 2.5rem;
      overflow: hidden;
      margin: 1.3rem auto;
      // Did it this way for dynamic translation to work instead of fixed variables, and for it to not go to the next line.
      table {
        width: 100%;
        tr {
          td {
            padding: 1rem 2rem;
            &.search-box-input-container {
              width: 100%;
              position: relative;
              padding-right: 0;
              .search-box-input {
                border: none;
                background-color: transparent;
                width: calc(100% - 2.5rem);
                color: $primary-color;
                font-size: 1.2rem;
                outline: none !important;
              }
            }
            &.search-box-button-container {
              padding-left: 2.5rem;
              width: auto;
              white-space: nowrap;
              background-color: $primary-color;
              .search-box-button {
                color: $primary-text-dark;
                font-family: $CIFontRegular;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    .file-preview {
      display: none;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      margin: auto;

      &.file-preview-displayed {
        display: flex;
      }
      .file-preview-image--outer {
        height: 150px;
        width: 150px;
        padding: 1rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $primary-color;
        display: inline-block;
        .file-preview-image {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .file-preview-image-name {
        color: $primary-color;
      }
      .file-preview-image-delete {
        color: $primary-text-light;
      }
    }

    .dropdown-separator {
      margin: 1rem auto;
      width: 80%;
      border: none;
      height: 1px;
      border-top: 1.5px solid $primary-color;
    }

    .select-values-label-list {
      margin: 1rem auto;
      width: 80%;
      li {
        list-style-type: none;
        display: inline-block;
        line-height: 2.5rem;
        border-radius: 1.5rem;
        padding: 0 1.5rem 0 2rem;
        transition: background-color 0.5s ease;
        margin: 0.5rem 1rem;
        font-size: 1.2rem;
        .option-remove-icon {
          margin: 0 0 0 1.5rem;
          cursor: pointer;
          vertical-align: sub;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
