$primary-font: 'CIFontRegular';
$primary-font-bold: 'CIFontBold';

$cl-black: #000000;
$cl-white: #ffffff;

$admin-header-height: 75px;
$tabbed-header-height: 75px;

$admin-header-breakpoint-md: 768px;
$admin-header-breakpoint-lg: 1500px;

$status-indicator-active-color: #3bb631;
$status-indicator-inactive-color: #ff0000;
$alternative-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$transition: all 0.3s;
