$CIFontRegular: $primary-font, $alternative-font;
$CIFontBold: $primary-font-bold, $alternative-font;

$cl-whitelabel-prime: $primary-color;

$cl-whitelabel-btn-prime: $primary-text-dark;
$cl-whitelabel-btn-prime-bg: $primary-color;

$cl-whitelabel-number: $primary-text-dark;

$cl-whitelabel-bg: darken($primary-text-dark, 10%);

$cl-campaign-section-bg: darken($primary-color, 10%);
$cl-campaign-title: lighten($primary-text-light, 10%);
$cl-campaign-text: $cl-white;

$cl-whitelabel-btn-prime-action: lighten($primary-text-light, 10%);

$primary-text-dark-light-10: lighten($primary-text-dark, 10%);
// For use within Angular
:root {
  --primary-color: #{$primary-color};
  --primary-text-dark: #{$primary-text-dark};
  --primary-text-dark-light-10: #{$primary-text-dark-light-10};
  --primary-text-light: #{$primary-text-light};
  --qr-background-color: #{$qr-background-color};
  --qr-foreground-color: #{$qr-foreground-color};
  --qr-headline-color: #{$qr-headline-color};
  --qr-text-color: #{$qr-text-color};
  --number-text-color: #{$number-text-color};
  --number-text-color-ticket: #{$number-text-color-ticket};
  --kva-background-colo: #{$kva-background-color};
  --kva-heromessage-color: #{$kva-heromessage-color};
  --kva-price-color: #{$kva-price-color};
  --kva-productname-color: #{$kva-productname-color};
  --cl-black: #{$cl-black};
  --cl-white: #{$cl-white};
  --cl-whitelabel-bg: #{$cl-whitelabel-bg};
  --cl-campaign-section-bg: #{$cl-campaign-section-bg};
  --alternative-font: #{$alternative-font};
  --cl-whitelabel-btn-prime-action: #{$cl-whitelabel-btn-prime-action};
  --background-image: #{$background-image};
  --logo-image-light: #{$logo-image-light};
  --logo-image-dark: #{$logo-image-dark};
  --primary-font-file: #{$primary-font-file};
  --primary-font-file-bold: #{$primary-font-file-bold};
  --transition: #{$transition};
  --scalable-font-bold: #{$scalable-font-bold};
  --scalable-font-regular: #{$scalable-font-regular};
}
