// Base Variables
// Base Colors
$primary-color: #fde1c5;
$primary-text-dark: #29101e;
$primary-text-light: #82415d;

$qr-background-color: #fde1c5;
$qr-foreground-color: #000;
$qr-headline-color: #fde1c5;
$qr-text-color: #fde1c5;
$number-text-color: #fde1c5;
$number-text-color-ticket: #29101e;
$kva-background-color: #fbc894;
$kva-heromessage-color: #a45275;
$kva-price-color: #fff;
$kva-productname-color: #fff;

$background-image: '/assets/images/kvicki_qr_bg.svg';
$logo-image-light: '/assets/images/kvicki_logo.png';
$logo-image-dark: '/assets/images/kvicki_logo_violette.png';

$primary-font-file: '/assets/fonts/manrope/Regular/Manrope-Regular.ttf';
$primary-font-file-bold: '/assets/fonts/manrope/Bold/Manrope-Bold.ttf';

$scalable-font-bold : 100%;
$scalable-font-regular : 100%;

$queue-number-background-image: '/assets/images/kvicki_qr_bg.svg';

// Station Registration
$qr-background-image: '/assets/images/kvicki_qr_bg.svg';

// Screen Handling
$big-screen-background-image: '/assets/images/kvicki_qr_bg.svg';
