// @mixin fontFaces($fontDirectory, $fontStyleDirectory, $fontFace, $fontFamily) {
//   @font-face {
//     font-family: $fontFamily;
//     src: url('/assets/fonts/' + $fontDirectory + '/' + $fontStyleDirectory + '/' + $fontFace + '.eot');
//     src: url('/assets/fonts/' + $fontDirectory + '/' + $fontStyleDirectory + '/' + $fontFace + '.eot?#iefix')
//         format('embedded-opentype'),
//       url('/assets/fonts/' + $fontDirectory + '/' + $fontStyleDirectory + '/' + $fontFace + '.woff2')
//         format('woff2'),
//       url('/assets/fonts/' + $fontDirectory + '/' + $fontStyleDirectory + '/' + $fontFace + '.woff')
//         format('woff'),
//       url('/assets/fonts/' + $fontDirectory + '/' + $fontStyleDirectory + '/' + $fontFace + '.ttf')
//         format('truetype'),
//       url('/assets/fonts/' + $fontDirectory + '/' + $fontStyleDirectory + '/' + $fontFace + '.otf');
//   }
// }

// @function fontSrc_w_format($fontDirectory, $fontFace, $fontExtension, $format) {
//   @return url($fontDirectory + $fontFace + $fontExtension) format($format);
// }

@mixin fontFamilyBase64($fontFacePath, $fontFamily) {
  @font-face {
    font-family: $fontFamily;
    src: url($fontFacePath);
  }
}
