#admin-system-footer {
  font-family: $CIFontRegular;
  color: $primary-color;
  padding: 6rem 1rem;
  background: $primary-text-dark;
  margin-top: 8rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  // z-index: 9;

  .header {
    font-family: $CIFontBold;
  }
  li,
  a {
    color: inherit;
    font-size: 1rem;
    margin: 0.5em 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  li {
    div {
      cursor: pointer;
    }
  }
  .col-12.col-md-6.col-lg-3 {
    margin-bottom: 2em;
  }
}
#footer-support {
  background: $primary-text-dark;
  padding: 6rem 1rem;
  .container-inner {
    text-align: center;
    max-width: 41.875rem;
    margin: 0 auto;
    .title {
      font-size: 4rem;
      font-family: $CIFontBold;
      margin-bottom: 0.75em;
    }
    .sub-title {
      font-size: 1.5rem;
      max-width: 750px;
      margin: 0 auto;
    }
  }
  .action-button {
    border: 2px solid $primary-color;
    border-radius: 8em;
    padding: 0.75em 2.75em;
    font-size: 1.75rem;
    color: $primary-color;
    background-color: transparent;
    outline: none !important;
    font-family: $CIFontBold;
    display: inline-block;
    margin: 2em 0 1em 0;
    text-decoration: none;
  }
}
