.admin-header-top {
  width: 100%;
  font-family: $CIFontBold;

  .page-nav {
    overflow: visible;
    .mat-tab-link-container {
      overflow: visible;
    }
  }

  .admin-header-row {
    display: flex;
    align-items: center;

    .first-section {
      .sv-button {
        display: inline-block;
        min-width: 36px;
        font-size: 0.9rem;
        line-height: 2.3rem;
        min-width: 47px;
        .material-icons {
          vertical-align: middle;
        }
      }
    }

    .second-section {
      text-align: center;
    }

    .last-section {
      .client-add-button {
        font-size: inherit !important;
        display: inline-block;
      }
      .client-bank-trigger {
        margin-left: 2rem;
        line-height: 2.3rem;
        color: $primary-color;
        text-decoration: none;
      }
      .current-user-options-trigger {
        margin: 0;
        margin-left: 2rem;
        font-size: 0.9rem;
        line-height: 2.3rem;
        font-size: 0.9rem;
      }
    }
  }

  @media screen and (max-width: $admin-header-breakpoint-lg) {
    .last-section {
      text-align: center;
      margin-top: 1rem;
      flex-basis: 100%;
      max-width: 100%;
    }
    .top-row {
      display: flex;
      flex-basis: 100%;
      max-width: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (min-width: $admin-header-breakpoint-lg) {
    .admin-header-row {
      display: flex !important;
      justify-content: flex-start !important;
      align-content: auto;
      position: relative;

      .top-row {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }

      .last-section {
        flex: 0 1 auto;
        margin-top: 0;
        margin-left: auto;
      }
    }
  }
}
