// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$primary-pallete: (
  50: lighten($primary-color, 15%),
  100: lighten($primary-color, 20%),
  200: lighten($primary-color, 15%),
  300: lighten($primary-color, 10%),
  400: lighten($primary-color, 5%),
  500: $primary-color,
  600: darken($primary-color, 5%),
  700: darken($primary-color, 10%),
  800: darken($primary-color, 15%),
  900: darken($primary-color, 20%),
  A100: darken($primary-color, 25%),
  A200: darken($primary-color, 30%),
  A400: darken($primary-color, 35%),
  A700: darken($primary-color, 40%),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$kvickilight-primary: mat-palette($primary-pallete);
$kvickilight-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kvickilight-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kvickilight-theme: mat-light-theme($kvickilight-primary, $kvickilight-accent, $kvickilight-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kvickilight-theme);
