mat-radio-group.mat-radio-group {
  mat-radio-button.mat-radio-button:not(.mat-radio-checked) {
    .mat-radio-label {
      .mat-radio-container {
        .mat-radio-outer-circle {
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
}

.kvicki_angular_material_date-picker {
  background-color: $primary-text-light;
  border: 1.5px solid $primary-color;
  border-radius: 0px;
  color: $primary-color !important;
  .mat-calendar-header {
    .mat-calendar-arrow {
      border-top-color: $primary-color;
    }

    .mat-datepicker-toggle,
    .mat-calendar-next-button,
    .mat-calendar-previous-button {
      &:not(:disabled) {
        color: $primary-color;
      }
    }
  }
  .mat-calendar-content {
    padding: 0;
    .mat-calendar-table-header-divider::after {
      background-color: $primary-color;
      left: 0;
      right: 0;
    }
    .mat-calendar-body-label,
    .mat-calendar-table-header {
      color: $primary-color;
    }
    .mat-calendar-body-cell {
      border: 1.5px solid $primary-color;
      .mat-calendar-body-cell-content {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        &.mat-calendar-body-today {
          &:not(.mat-calendar-body-selected) {
            border-radius: 0;
            color: $primary-text-dark;
            font-weight: 700;
            background-color: transparentize(
              $color: $primary-color,
              $amount: 0.3
            );
          }
        }
      }
      &:not(.mat-calendar-body-disabled) {
        .mat-calendar-body-cell-content {
          color: $primary-color;
        }
      }

      .mat-calendar-body-selected {
        color: $primary-text-dark !important;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}
