.turn {
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
  animation: pulsate-bck 1s ease-in-out infinite both;
}

//highlight element on hover/focus
input[type='text'].fill-animation:hover,
input[type='text'].fill-animation:active,
input[type='text'].fill-animation:focus,
input[type='password'].fill-animation:hover,
input[type='password'].fill-animation:active,
input[type='password'].fill-animation:focus {
  color: $cl-whitelabel-bg;
  background-color: $cl-whitelabel-btn-prime-bg;
  &::placeholder {
    color: $cl-whitelabel-bg;
  }
}

//Number Pulsating for turn
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.animated {
  animation-duration: 1s;
  &-2s {
    animation-duration: 2s;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.grow-transition {
  transition: flex 1s ease;
}
