.autocomplete--bordered {
  $autocomplete-height: 400px;
  $autocomplete-option-height: 86.38px;

  border: 0.5px solid $primary-color;
  background-color: $primary-text-light;
  position: absolute;
  top: 100%;
  left: -2px;
  width: calc(100% + 4px);
  max-height: $autocomplete-height;
  z-index: 9;

  .autocomplete-row {
    display: flex;
    align-items: center;
    min-height: $autocomplete-option-height;
    padding: 1rem;
    border: 0.5px solid $primary-color;
    font-size: 2.1rem;
    font-family: $CIFontBold;
    color: $primary-color;
    text-align: left;
  }
  .autocomplete-search-option {
    @extend .autocomplete-row;

    .autocomplete-search-icon {
      vertical-align: middle;
      font-size: 30px;
      font-weight: 900;
      margin: 0 calc(3.5rem - 15px);
    }
    input {
      background-color: transparent;
      color: $primary-color;
      font-family: $CIFontBold;
      font-size: 2.1rem;
      width: 100%;
      border: none;
      outline: none !important;
      text-align: left;
      padding-left: 1rem;
      &::placeholder {
        color: $cl-whitelabel-prime;
        opacity: 1;
      }
    }
  }
  .autocomplete-option-container {
    height: calc(#{$autocomplete-height} - #{$autocomplete-option-height});
    overflow: hidden;
    position: relative;
    .autocomplete-option {
      @extend .autocomplete-row;
      padding-left: calc(7rem + 30px);
      cursor: pointer;
      &:hover {
        background-color: lighten($primary-text-dark, 15%);
      }
    }
  }
}
