.brand {
  .logo {
    margin: 1.5em 0;
    max-width: 200px;
  }
}
.logo-area {
  background: url($logo-image-light) no-repeat;
  background-size: contain;
  background-position: center;
  // width: 8rem;
  height: 3rem;
  // margin: 1rem auto;
  margin: 1.5rem auto 0rem auto;

  &.logo-area-dark {
    background: url($logo-image-dark) no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media screen and (max-width: 1200px) {
  .brand {
    .logo {
      width: 23%;
    }
  }
}
@media screen and (max-width: 991px) {
  .logo-area {
    width: 8rem * 0.75;
    height: 3rem * 0.75;
  }
}
