// Icomoon btn
@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon/icomoon.eot');
  src: url('assets/fonts/icomoon/icomoon.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/icomoon/icomoon.woff') format('woff'),
    url('assets/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('assets/fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* General button style (reset) */
.btn-icomoon {
  outline: none;
  position: relative;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
.btn-icomoon:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
/* Pseudo elements for icons */
.btn-icomoon:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.icon-envelope:before {
  content: '\e000';
}
.icon-cart:before {
  content: '\e007';
}
.icon-cart-2:before {
  content: '\e008';
}
.icon-heart:before {
  content: '\e009';
}
/* Filled heart */
.icon-heart:after,
.icon-heart-2:before {
  content: '\e00a';
}
.icon-star:before {
  content: '\e00b';
}
/* Filled star */
.icon-star:after,
.icon-star-2:before {
  content: '\e00c';
}
.icon-arrow-right:before {
  content: '\e00d';
}
.icon-arrow-left:before {
  content: '\e003';
}
.icon-truck:before {
  content: '\e00e';
}
.icon-remove:before {
  content: '\e00f';
}
.icon-cog:before {
  content: '\e010';
}
.icon-plus:before,
.icon-plus:after {
  content: '\e011';
}
.icon-minus:before {
  content: '\e012';
}
.bh-icon-smiley:before {
  content: '\e001';
}
.bh-icon-sad:before {
  content: '\e002';
}
.icon-file:before {
  content: '\e004';
}
.icon-remove-2:before {
  content: '\e005';
}
/* Button 4 */
.btn-4 {
  border: 3px solid $cl-whitelabel-prime;
  overflow: hidden;
  background: $cl-whitelabel-prime;
}
.btn-4:active {
  border: 3px solid $cl-whitelabel-prime !important;
  color: $cl-whitelabel-prime;
  background: $primary-text-dark !important;
}
.btn-4:hover {
  //
}
.btn-4:before {
  position: absolute;
  height: 100%;
  color: $primary-text-dark;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
.btn-4:active:before {
  color: $cl-whitelabel-prime;
}
/* Button 4c */
.btn-4c:before {
  left: 70%;
  opacity: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.btn-4c:hover:before {
  left: 80%;
  opacity: 1;
}
