.btn {
  text-decoration: none;
  outline: none;
  display: block;
  box-shadow: none;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  border: none;
  font-family: $CIFontBold;
  padding: 0.7em 0;
  border-radius: 800px;
  margin-bottom: 1em;
  line-height: unset;
  cursor: pointer;
  &.btn-prime {
    color: $cl-whitelabel-btn-prime;
    background: $cl-whitelabel-btn-prime-bg;
    &:hover,
    &:active,
    &:focus {
      color: $cl-white;
      background: $cl-whitelabel-btn-prime-action;
    }
  }
  &.btn-default {
    color: $cl-whitelabel-btn-prime-bg;
    background: $cl-whitelabel-btn-prime;
    &:hover,
    &:active,
    &:focus {
      color: $cl-white;
      background: $cl-whitelabel-btn-prime-action;
    }
  }
}

.btn-primary-form {
  background-color: $primary-color;
  color: $primary-text-dark;
  font-size: 1.2rem;
  /* height: 2rem; */
  padding: 1rem 4rem;
  width: auto;
  font-weight: 100;
  margin: 0 auto;
  display: inline-block;
}

.btn-primary-form--outline {
  background-color: transparent;
  color: $primary-color;
  font-size: 1.2rem;
  /* height: 2rem; */
  padding: 1rem 4rem;
  width: auto;
  font-weight: 100;
  margin: 0 auto;
  display: inline-block;
  border: 1.5px solid $primary-color;
}

.btn-small--link {
  font-size: 0.8rem;
  background: none;
  border: none;
  box-shadow: none;
  color: $primary-color;
  margin: 0.2rem 0.5rem;
  padding: 0;
  border-bottom: 1px solid $primary-color;
  font-family: $CIFontBold;
}
