.campaign-section {
  $font-scale: 1.0;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.5em;
  background: $kva-background-color;
  text-align: left;
  font-family: $CIFontBold;
  color: $cl-campaign-text;
  font-size: 3rem;

  .heromessage {
    color: $kva-heromessage-color;
    font-size: #{$scalable-font-regular * $font-scale};
  }

  .productname {
    color: $kva-productname-color;
    font-size: #{$scalable-font-bold * $font-scale};
  }

  .price {
    color: $kva-price-color;
  }
  .campaign-container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 4.8rem;
  }
  span {
    font-family: $CIFontRegular;
    color: $cl-campaign-title;
    display: block;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle {
    img {
      position: absolute;
      max-width: 8em;//4.7 previous
      // top: -75%;
      max-height: 6em;
      -o-object-fit: contain;
      object-fit: contain;
      width: 100%;
      bottom: 0%;
      left: 0;
      // left: 50%;
      // transform: translateX(-50%);
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .productPrice {
      font-size: #{$scalable-font-bold * $font-scale};
    }
  }
}
@media screen and (max-width: 991px) {
  .campaign-section {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .campaign-section {
    font-size: 2rem;
    padding: 1em;
  }
}
@media screen and (max-width: 576px) {
  .campaign-section {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 464px) {
  .campaign-section {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 367px) {
  .campaign-section {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 275px) {
  .campaign-section {
    font-size: 0.5rem;
  }
}
