.chartBubbleContainer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);

  .bubble-container {
    position: relative;
    > svg {
      position: relative;
    }
    .bubble-text-section {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
