.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
}

.hover {
  &-underline {
    &:hover {
      text-decoration: underline;
    }
  }
}

.disabled {
  @extend .cursor-not-allowed;
}
