.mat-dialog-container {
  font-family: $CIFontRegular;
  background: $cl-whitelabel-bg;
  color: $cl-whitelabel-prime;
  border-radius: 50px !important;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
