.dropdown {
  &--rounded {
    cursor: pointer;
    border: 1.5px solid $primary-color;
    padding: 1rem 2rem;
    // transition: background-color 0.5s ease, color 0.5s ease;
    background-color: transparent;
    color: $primary-color;
    font-family: $CIFontRegular;
    font-size: 1.2rem;
    outline: none !important;
    text-align: left;
    border-radius: 2rem;
    position: relative;

    &.dropdown-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $primary-text-light;
    }

    .material-icons.dropdown-icon {
      font-size: 2.4rem;
      margin-top: -0.3rem;
      margin-right: 1rem;
      position: absolute;
      right: 0px;
      transition: transform 0.5s ease;
      &.dropdown-icon-open {
        transform: rotate(180deg);
      }
    }

    // mat-select.mat-select {
    //   .mat-select-placeholder,
    //   mat-select-trigger {
    //     color: $primary-color;
    //   }
    //   .mat-select-arrow-wrapper {
    //     visibility: hidden;
    //   }
    // }

    &-container {
      margin: 1.3rem auto;
      position: relative;
      .dropdown--actual {
        position: absolute;
        top: 100%;
        left: 0px;
        height: 200px;
        width: 100%;
        overflow: hidden;
        background-color: $primary-text-light;
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        border: 1.5px solid $primary-color;
        border-top: none;
        display: none;
        z-index: 9;
        &.dropdown--actual--open {
          display: block;
        }

        .dropdown-option-container {
          height: 200px;
          overflow: hidden;
        }

        .dropdown-option {
          border-top: 0.75px solid $primary-color;
          padding: 1rem 2rem;
          transition: background-color 0.3s ease;
          cursor: pointer;
          &:hover {
            background-color: $primary-text-dark;
          }
        }

        .ps__rail-x {
          display: none !important;
          bottom: 0px !important;
        }
      }
    }
  }

  &-header {
    $dropdown-header-border-radius: 1rem;
    cursor: pointer;
    vertical-align: middle;
    position: relative;

    .dropdown-header-trigger {
      padding: 0.2rem 1.2rem;
      .icon-dropdown-trigger {
        transition: transform ease 0.5s;
        margin-right: -5px;
        margin-left: 10px;
        vertical-align: middle;
      }
      &.dropdown-header-trigger--dropdown-open {
        border-top-left-radius: $dropdown-header-border-radius;
        border-top-right-radius: $dropdown-header-border-radius;
        background-color: $primary-text-light;
        .icon-dropdown-trigger {
          transform: rotate(180deg);
        }
      }
    }
    .dropdown--actual {
      position: absolute;
      top: 100%;
      left: 0px;
      max-height: 200px;
      width: 100%;
      overflow: hidden;
      background-color: $primary-text-light;
      border-bottom-left-radius: $dropdown-header-border-radius;
      border-bottom-right-radius: $dropdown-header-border-radius;
      border-top: none;
      display: none;
      z-index: 9;

      &.dropdown--actual--open {
        display: block;
      }

      .dropdown-option {
        padding: 0.1rem 1rem;
        border-top: 1px solid $primary-text-dark;
        &:hover {
          background-color: lighten($primary-text-dark, 15%);
        }
      }
    }
  }
}
