// @include fontFamilyBase64('manrope', 'Regular', 'Manrope-Regular', 'CIFontRegular');
// @include fontFamilyBase64('manrope', 'Bold', 'Manrope-Bold', 'CIFontBold');
@include fontFamilyBase64($primary-font-file, $primary-font);
@include fontFamilyBase64($primary-font-file-bold, $primary-font-bold);
h1 {
  font-family: $CIFontBold;
}
.font_45 {
  font-size: 45px;
}
.font_60 {
  font-size: 60px;
}
.font_70 {
  font-size: 70px * 0.98;
}
.font_80 {
  font-size: 80px;
}
.font_125 {
  font-size: 125px;
}
.font_400 {
  font-size: 400px;
}
.font-bold {
  font-family: $CIFontBold;
}
.font-regular {
  font-family: $CIFontRegular;
}
.scalable-font-bold {
  font-size: $scalable-font-bold;
}
.scalable-font-regular {
  font-size: $scalable-font-regular;
}
