html,
body {
  height: 100%;
}

body {
  font-family: $CIFontRegular;
  font-size: 15px;
  line-height: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  letter-spacing: 0.5px;
  color: $cl-whitelabel-prime;
  background: $cl-whitelabel-bg;
  background-image: url($background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin: 0;
}
strong {
  font-family: $CIFontBold;
}
span {
  &.bubble {
    padding: 1em 0;
    background: $cl-whitelabel-prime;
    color: $cl-whitelabel-bg;
    border-radius: 800px;
    width: 225px;
    display: inline-block;
  }
}
img {
  width: 100%;
}
