.device-container {
  // height: 100%;
  // min-height: 100vh;
  margin: 4em auto;
  display: flex;
  display: -webkit-flex;
  text-align: center;
  max-width: 720px;
  padding: 0;
  @media screen and (max-width: 1200px) {
    max-width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &.qr_container {
      max-width: 80%;
    }
  }
}

.number_content {
  color: $cl-whitelabel-number;
}

.material-icons {
  user-select: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.overflow-visible {
  overflow: visible;
}

sup {
  vertical-align: super;
  line-height: 0;
}

*:disabled {
  cursor: not-allowed;
}

*[disabled='true'] {
  cursor: not-allowed !important;
}


.text-primary-light {
  color: lighten($primary-text-light, 10%);
}
