.page-nav {
  background-color: $primary-text-dark;
  padding: 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  z-index: 10;
  min-height: 4.68rem;
  .mat-tab-list {
    .mat-tab-links {
      justify-content: center;
      .mat-tab-link {
        color: lighten($primary-text-light, 10%);
        opacity: 1;
        line-height: 32px;
        height: auto;
        width: unset;
        min-width: unset;
        font-family: $CIFontBold;
        padding: 0;
        margin: 0 24px;
        &:hover {
          text-decoration: none;
        }
        &.mat-tab-label-active {
          color: $primary-color;
        }
      }
    }
    .mat-ink-bar {
      background-color: $primary-color;
      bottom: initial;
    }
  }
}
