.radio-field {
  display: inline-block;
  cursor: pointer;
  .radio-button {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: 1.5px solid $primary-color;
    margin-right: 30px;
    .material-icons {
      display: none;
      font-size: 35px;
      font-weight: 700;
    }
    &--selected {
      background-color: $primary-color;
      .material-icons {
        display: block;
        color: $primary-text-dark;
      }
    }
    &-label {
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
    }
  }
}
