@media screen and (max-width: 1024px) {
  .font_45 {
    font-size: 1.9em;
  }
  .font_60 {
    font-size: 2.9em;
  }
  .font_70 {
    font-size: 3.1em;
  }
  .font_80 {
    font-size: 3.5em;
  }
  .font_125 {
    font-size: 4.9em;
  }
  .font_400 {
    font-size: 19.1em;
  }
}
@media screen and (max-width: 768px) {
  .font_45 {
    font-size: 1.4em;
  }
  .font_60 {
    font-size: 1.9em;
  }
  .font_70 {
    font-size: 2.1em;
  }
  .font_80 {
    font-size: 2.5em;
  }
  .font_125 {
    font-size: 3.9em;
  }
  .font_400 {
    font-size: 13.9em;
  }
}
@media screen and (max-width: 576px) {
  .font_45 {
    font-size: 0.95em;
  }
  .font_60 {
    font-size: 1em;
  }
  .font_70 {
    font-size: 1.4em;
  }
  .font_80 {
    font-size: 1.4em;
  }
  .font_125 {
    font-size: 2.22em;
  }
  .font_400 {
    font-size: 9em;
  }
}
@media screen and (max-width: 620px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 420px) {
  body {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 8px;
  }
}
