.search-box-container {
  border: 2px solid $primary-color;
  border-radius: 10rem;
  overflow: hidden;
  // Did it this way for dynamic translation to work instead of fixed variables, and for it to not go to the next line.
  table {
    width: 100%;
    tr {
      td {
        padding: 1.5rem 2.5rem;
        .material-icons {
          vertical-align: sub;
          font-weight: 900;
          font-size: 1.4rem;
          margin-right: 0.6rem;
        }
        &.search-box-input-container {
          width: 100%;
          position: relative;
          padding-right: 0;
          padding-left: 2.5rem;
          .search-box-input {
            border: none;
            background-color: transparent;
            width: calc(100% - 2.5rem);
            color: $primary-color;
            font-size: 1.2rem;
            outline: none !important;
          }
        }
        &.search-box-button-container {
          padding-left: 2.5rem;
          width: auto;
          white-space: nowrap;
          background-color: $primary-color;
          .search-box-button {
            color: $primary-text-dark;
            font-family: $CIFontRegular;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
