table {
  thead {
    th {
      font-family: $CIFontBold;

      &:first-child {
        padding-left: 0;
      }
    }
  }
  tbody {
    td {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
